src/main/mule/salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="createQueryJob" doc:id="865cf993-afac-4af5-ac7e-dae582e82343" >
		<http:listener doc:name="Listener" doc:id="7f6b2b4a-ff19-4a27-a5fe-ff4343eec689" config-ref="dataloaderConfig" path="createQueryJob" outputMimeType="application/json" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="b458e057-7e33-4530-995d-faf0067384cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Create Job Request" doc:id="b22e62fa-10aa-492a-8fa5-57c16d09d03a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	concurrencyMode:"Parallel",
	contentType:"CSV"
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/java
---
payload.query]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:create-job operation="query" type="Account" doc:name="Create Query job" doc:id="e6b84008-dd84-403b-9267-a1e63c257e57" config-ref="Salesforce_Config">
			<salesforce:create-job-request ><![CDATA[#[payload]]]></salesforce:create-job-request>
		</salesforce:create-job>
		<ee:transform doc:name="Job Information" doc:id="3f270a61-c89f-4368-bfee-294d6b32d4bb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Job Id" doc:id="730a7472-6f94-4319-b642-c222f08654be" message="Job Id: #[payload.id]" />
		<set-variable value="#[payload.id]" doc:name="Job ID Var" doc:id="6f7d98cb-3523-4ce4-a1be-47b82f1ee8e4" variableName="jobId" />
		<salesforce:job-info doc:name="Job info" doc:id="bff4e156-95f5-4a45-bc01-917181c7be7b" config-ref="Salesforce_Config" jobId="#[payload.id]"/>
		<flow-ref doc:name="Flow Reference" doc:id="ee146b63-eecd-4b72-8fc7-829cb3a884c9" name="batchForQuery"/>
	</flow>
	<sub-flow name="batchForQuery" doc:id="3bb73351-1ece-489f-8048-ed0e0711ed61">
		<salesforce:create-batch-for-query doc:name="Create batch for query" doc:id="ec310b14-9fb0-4aa0-a179-0aa78d31dccd" config-ref="Salesforce_Config" jobInfoBatchForQuery="#[payload]">
			<salesforce:batch-query><![CDATA[#[vars.query]]]></salesforce:batch-query>
		</salesforce:create-batch-for-query>
		<ee:transform doc:name="Transform Message" doc:id="a09ec775-2f4b-4758-b142-8252940e1722">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="salesforce-batch-info-status" doc:id="af1e3c4f-e62d-475e-ac56-c96e7771f21a" name="salesforce-batch-info-status"/>
	</sub-flow>
	<flow name="salesforceFlow1" doc:id="3e91d7b2-12fd-49b6-ad2f-c453ee87185d" >
		<http:listener doc:name="Listener" doc:id="d20b1df3-7fa2-411a-ad05-856daa4c23e4" config-ref="dataloaderConfig" path="batchList" />
		<ee:transform doc:name="Transform Message" doc:id="a6e92265-1237-4750-afdc-dd40966d27c9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.jobId]" doc:name="JobId" doc:id="1b3793b5-c4ed-49ad-b6d4-bc1966b71077" variableName="jobId"/>
		<flow-ref doc:name="salesforce-batch-info-status" doc:id="c6172a67-805c-4974-beef-5741161d4524" name="salesforce-batch-info-status"/>
	</flow>
	<flow name="salesforce-batch-info-status" doc:id="7d51dfe8-2ab6-4865-99d9-5546a3d77759">
		<salesforce:batch-info-list doc:name="Batch info list" doc:id="1f6c0688-6983-41fd-a038-45030f608166" config-ref="Salesforce_Config" jobId="#[vars.jobId]" />
		<set-variable value="#[sizeOf(payload)]" doc:name="totalFiles" doc:id="a1220b96-f986-4587-8ed5-a166ad0b5335" variableName="totalFiles" />
		<ee:transform doc:name="Transform Message" doc:id="c6a1d812-7008-4000-a658-30062ebc40f5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="salesforceFlow" doc:id="588534a1-39db-47b0-8f45-644d40645459" >
		<http:listener doc:name="Listener" doc:id="b9168dd7-0df6-4381-9660-ed2757c8d311" config-ref="dataloaderConfig" path="getUserInfo"/>
		<salesforce:get-user-info doc:name="Get user info" doc:id="da995b18-1b02-4477-bd6c-bc36d33ae7d7" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="c0ad4960-f995-4bf0-b66f-c002be005568" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="batchStreamResult" doc:id="a15e5ceb-fbf1-4296-b513-78cf01bf4829" >
		<http:listener doc:name="Listener" doc:id="a9c38940-96ff-4c54-bb2e-0cdd9040ee62" config-ref="dataloaderConfig" path="batchStreamResult"/>
		<ee:transform doc:name="Transform Message" doc:id="79a7cc35-14ff-4459-b7d0-45ec15b1d7a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="batchInfo" ><![CDATA[%dw 2.0
output application/java
---
payload ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:batch-result-stream doc:name="Batch result stream" doc:id="72f1401a-89e5-424c-854f-0ef414276fa3" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="d2b1c4d1-61b0-4c9d-b51d-be0443ac0556" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
ns ns0 http://www.force.com/2009/06/asyncapi/dataload
output application/java
---
payload.ns0#"result-list".ns0#result]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query-result-stream doc:name="Query result stream" doc:id="9c046b5c-4aa9-4c80-8ae4-fa6bde47e7ec" config-ref="Salesforce_Config" contentType="CSV" outputMimeType="application/csv" outputEncoding="UTF-8">
			<salesforce:batch-to-retrieve ><![CDATA[#[vars.batchInfo]]]></salesforce:batch-to-retrieve>
		</salesforce:query-result-stream>
	</flow>
</mule>
